watchdog
Unidecode
sqlalchemy
aiohttp
praw
asyncpraw
git+https://github.com/nextcord/nextcord.git@95f64a8b5c520d4a8792c8bb0318900ee28af40d
markovify
cleverwrap
bs4
isodate
microdata
wand
psutil
oslo.concurrency
psycopg2-binary
googlemaps
forecastiopy
idna==2.9
pillow
numpy
python-whois
google-re2
google-api-python-client
webull
graphviz
face_recognition
yfinance
