watchdog
Unidecode
sqlalchemy
aiohttp
praw
asyncpraw
git+https://github.com/nextcord/nextcord.git@9785cb70be9659ecca193b76ca755bb6929dd696
#git+https://github.com/nextcord/nextcord.git@6aaaca0578baee75edb52c84fce642fbfa4eec86
markovify
cleverwrap
bs4
isodate
microdata
wand
psutil
oslo.concurrency
psycopg2-binary
googlemaps
forecastiopy
idna==3.7
pillow
numpy
python-whois
google-re2
google-api-python-client
webull
graphviz
face_recognition
yfinance
pytest
tls_client
httpx
openaiauth
openai
revchatgpt