watchdog
Unidecode
sqlalchemy
praw
git+https://github.com/Rapptz/discord.py.git@1e17b7fceaf7173b1666465e639d1bebaa126683
markovify
cleverwrap
bs4
isodate
microdata
wand
psutil
oslo.concurrency
psycopg2-binary
googlemaps
forecastiopy
idna==2.9
pillow
numpy
pythonwhois
fb-re2
google-api-python-client
webull
graphviz
face_recognition
yfinance
